.gx:hover {
  box-shadow: -20px -20px 30px -25px #fac, 20px 20px 30px -25px #ddccaa, -7px -7px 10px -5px #fac, 7px 7px 10px -5px #ddccaa,
    0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.gx:after,
.gx:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.7;
  mix-blend-mode: color-dodge;
}

.gx::after {
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url("https://assets.codepen.io/13471/holo.png"),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
}

.gx:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, #fac 40%, transparent 47%, transparent 53%, #ddccaa 60%, transparent 100%);
  filter: brightness(0.6);
}

.gx:hover::before {
  background-image: linear-gradient(110deg, transparent 25%, #fac 48%, #ddccaa 52%, transparent 75%);
  background-position: var(--bg-position);
}
