.rainbow:before {
  content: "";
  position: absolute;
  left: 12px;
  right: 0;
  bottom: 0;
  top: 12px;
  width: 277px;
  height: 391px;
}

.rainbow:hover::before {
  background-image: repeating-linear-gradient(
      rgb(255, 118, 118) 6%,
      rgb(255, 239, 118) 12%,
      rgb(157, 255, 118) 18%,
      rgb(118, 255, 241) 24%,
      rgb(118, 156, 255) 32%,
      rgb(202, 118, 255) 38%,
      rgb(255, 118, 118) 42%
    ),
    repeating-linear-gradient(133deg, #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10%, #0e152e 12%);
  background-size: 400% 400%, 400% 400%;
  background-position: 50% 50%, var(--bg-position);
  background-blend-mode: overlay;
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  filter: saturate(2) brightness(0.5);
}
